
.todo-form {
    background-color:white;
    border-radius: 5px;
    

    .mdc-list {
        padding: 0;
        .mdc-list-item {
            margin: 0;
            padding: 0;
        }
    }

    .done-button {
        transition: .5s all;
        margin-top: 3px;
        height: 100%;
        .done-button-icon {
            color: rgb(85, 26, 139);
        }
    }
    .done-button:hover {
        background-color: rgb(85, 26, 139);
        .done-button-icon {
            color: white;
        }
    }
}