.mdc-list-item {
    gap: 10px;
}

.mdc-list-item__graphic {
    height: 25px;
}

.mdc-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
}
.mdc-list-divider {
    border: none;
}
.layout-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button i {
        transition:  .3s all;
    }
    & button i:hover {
        color: rgb(163, 33, 33);
    }
}
.add-list-button {
    color: #551a8b !important;
}
.list-delete-button {
    padding: 0;
    height: 100%;
}

.list-item-dg {
    display: grid;
    grid-template-columns: auto auto 1fr;
    .list-item-gr-fe {
        width: 50px;
        justify-self: flex-end;
        display: none;
    }
    .list-icon-delete {
        transition: .3s all;
    }
    .list-icon-delete:hover {
        color: #842029;
    }
}

.list-item-dg:hover {
    .list-item-gr-fe {
        display: block;
    }
}