.text-area-label {
    position: absolute;
    left: 10px;
    top: 5px;
    opacity: .5;
    font-size: 14px;
}

.textarea {
    background-color: rgb(243, 240, 240);
    border-bottom: 1px solid black !important;
    padding-top: 25px !important;
    height: 27px;
}

.textarea-layout {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
