.todo-details {
    flex-basis: 256px;
    padding: 1rem;
    background-color: #fff;
    .todo-details-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .todo-steps {
        margin: 1rem 0;
    
        .todo-step-list {
            .mdc-list-item {
                padding: 0;
    
                .mdc-checkbox {
                    margin-right: .5rem;
                }
            }
        }
    }
    .text-area-label {
        position: absolute;
        left: 10px;
        top: 5px;
        opacity: .5;
        font-size: 14px;
    }
    textarea {
        background-color: rgb(243, 240, 240);
        border-bottom: 1px solid black;
        padding-top: 25px;
        height: 27px;
    }
}
