.todo-details {
    flex-basis: 256px;
    padding: 1rem;
    background-color: #fff;
    .todo-details-layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }
    .todo-steps {
        margin: 1rem 0;
        
        .todo-step-list {
            .mdc-list-item {
                padding: 0;
                
                .mdc-checkbox {
                    margin-right: .5rem;
                }
            }
        }
    }
    .step-checkbox {
        top: -8px;
    }
}
