
* {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    min-height: 100vh;
}


.mdc-list-item {
    border-radius: 5px;
    margin: 10px;
}

.mdc-list-group {
    padding: 0 10px;
}

.mdc-list-item--activated {
    color: rgb(85, 26, 139) !important;
}

.material-icons {
    color: gray;
}


